html, body, #map {
  height: 100vh;
}

#coordinatesX {
    position: fixed;

    top: 10px;

    left: 100px;

    z-index: 1000;
}

#coordinatesY {
    position: fixed;

    top: 10px;

    left: 250px;

    z-index: 1000;
}

#btn {
    position: fixed;

    top: 10px;

    left: 420px;

    z-index: 1000;
}